body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.4fr 1fr 4fr 1fr;
    background-image: url(./img/winter_bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

#rubrik{
    background-color: rgb(77, 68, 68);
    border: 3px solid red;
    color: blanchedalmond;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-top: 0px;
}

img{
    width: 100%;
    height: auto;
    max-width: 6%;
}

nav{
    font-size: 0.5em;
    border: 2px solid green;
    background-color: rgb(77, 68, 68);
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 40px;
    margin-bottom: 40px;
    max-height: fit-content;
    width: auto;
}

#jul{
    color: red;
    background-color: white;
}

#nyår{
    background-color: rgb(209, 209, 64);
}

main{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: blanchedalmond;
    border: 2px solid black;
}

th{
    border: 3px solid red;
    background-color: rgb(186, 186, 186);
    width: 0.14%;
}

.datum{
    margin: 20px;
    text-align: center;
}

.veckodagar{
    margin: 20px;
    margin-top: 40px;
}

td{
    border: 3px solid red;
    font-size: 1.5em;
    width: 0.14%;
    height: 0.14%;
    margin: 10px;
}

#red{
    color: red;
}

footer{
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    color: blanchedalmond;
    font-family: "Skranji";
}